<a href="https://colab.research.google.com/github/JUBURT/JUBURT/blob/main/HW1_JWallace.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a GitHub if you donâ€™t have and provide your user name as a
text submission.

# GITHUB USERNAME = JUBURT

2. Use pandas to read the olympic_medals.csv from the DATA folder on Google Drive. Then perform the followings by
using pandas and/or Python built-in functions.

In [14]:
import pandas as pd
olymed = pd.read_csv('/content/drive/MyDrive/DATA/olympic_medals.csv')

(a) Find the size of the data frame. How many rows, how many columns?

In [23]:
olymed.shape

(2394, 8)

(b) Use the appropriate function to report the data types for all columns.

In [16]:
olymed.head()

,Gender,Event,Location,Year,Medal,Name,Nationality,Result
0,M,10000M Men,Rio,2016,G,Mohamed FARAH,GBR,25:05.17
1,M,10000M Men,Rio,2016,S,Paul Kipngetich TANUI,KEN,27:05.64
2,M,10000M Men,Rio,2016,B,Tamirat TOLA,ETH,27:06.26
3,M,10000M Men,Beijing,2008,G,Kenenisa BEKELE,ETH,27:01.17
4,M,10000M Men,Beijing,2008,S,Sileshi SIHINE,ETH,27:02.77

(c) Find how many unique cities matches were held at. (Hint: unique( ). For instance, the following example tells
how many unique Events held:)
len(medals['Event'].unique())

In [17]:
len(olymed['Location'].unique())

23

(d) Find how many medals the USA team won in total.

In [18]:
len(olymed[olymed['Nationality'] == 'USA'])

638

(e) Find the total number of medals for each Nationality. (Hint: please search for groupby() function with count.

In [21]:
olymed.groupby(by='Nationality')['Medal'].count()

Nationality
ALG      9
ARG      4
AUS     57
AUT      4
BAH     12
      ...
URS    131
USA    638
VEN      2
YUG      1
ZAM      1
Name: Medal, Length: 97, dtype: int64